Django==5.2.11
djangorestframework==3.16.1
celery==5.6.2
redis==7.3.0
requests==2.32.5
python-dotenv==1.2.1
gunicorn==21.2.0
whitenoise==6.6.0
psycopg2-binary==2.9.9
dj-database-url==2.1.0
beautifulsoup4==4.14.3
PyYAML==6.0.3
Twisted==25.5.0
channels==4.0.0
channels_redis==4.1.0
scapy==2.7.0
Flask==3.1.2
